@media (max-width:1580px){
    .header {
        &__col {
            &--logo {
                width: 13%;
            }

            &--menu {
                width: 70%;
            }
        }

        &__menu ul {
            justify-content: flex-end;
            gap: 30px;
        }
    }
}

@media (max-width:1440px){

}

@media (max-width:1220px){
    // header 1220
    .header {
        &__col--menu {
            width: 73%;
        }

        &__menu ul {
            justify-content: flex-start;
        }

        &__menu a {
            font-size: 13px;
        }
    }

    // packing 1220
    .packing {
        margin: 0;
        background-size: cover;
    }
}

@media (max-width:1020px){

}

@media (max-width:992px){
    // header 992
    .header {
        &__col {

            &--menu {
                position: fixed;
                z-index: 1000;
                width: 100%;
                max-width: 320px;
                height: 100%;
                top: 0;
                right: -100%;
                background-color: #fff;
                transition: .3s;
                padding: 15px;


                &.active {
                    right: 0;
                }
            }

            &--logo {
                width: 50%;
            }

            &--burger {
                display: block;
            }
        }

        &__burger {
            margin-left: 30px;
        }

        &__schedule {
            display: none;
        }

        &__menu ul {
            flex-direction: column;
            text-align: right;
            align-items: flex-end;
            gap: 0;
        }

        &__menu a {
            margin-left: auto;
            text-align: right;
            padding: 5px 0;
            font-size: 22px;
            font-weight: 500;
        }
    }

    // vars 992
    :root {
        --title-size: 20px;
        --text-gap: 15px;
    }

    // about 992
    .about {
        video {
            max-width: 100%;
            height: auto;
        }

        &__title {
            margin-top: calc(var(--1-gap) * 2);
        }
    }

    // blog 992
    .blog {
        &__slider-ui {
            margin-top: 25px;
        }

        &__slider-nav-arrow {
            width: 60px;
            height: 60px;
        }
    }

    // technologies 992
    .technologies {

        img {
            display: block;
            max-height: 280px;
            object-fit: cover;
        }
    }

    section {
        padding: 80px 0;
    }

    // box 992
    .box {
        padding: 20px;
    }

    // packing 992
    .packing {
        background-image: none;

        &__quote {
            margin-top: 15px;
        }
    }

    // projects 992
    .projects {
        video {
            max-width: 100%;
            width: 100%;
            height: auto;
            margin-bottom: var(--1-gap);
        }
    }

    // call 992
    .call {
        .text {
            margin-bottom: 30px;
        }

        .form {
            margin-top: calc(var(--1-gap) * 1.5);
        }
    }

    :root {
        --1-gap: 15px;
    }

    // footer 992 
    .footer {
        &__title {
            font-size: 50px;
        }
    }

    // anchor 
    .anchor {
        right: 25px;
        width: 40px;
        height: 40px;
        &.active {
            bottom: 25px;
        }
    }
}

@media (max-width:876px){

}

@media (max-width:768px){

    // quote 768
    .quote {
        padding-top: 45px;
        &::before {
            top: 0;
            font-size: 60px;
        }
    }

    // about 768
    .about {

        p {
            font-size: 16px;
        }
    }

    // blog 768
    .blog {

        &__slider-article-inner {
            display: block;
            p{
                margin: 10px 0;
            }
        }

        &__slider-nav {
            display: none;
        }

        &__slider-ui {
            margin-top: 15px;
            justify-content: center;
        }

        &__slider-pag {
            justify-content: center;
        }
    }

    // vars 768
    :root {
        --text-size-2: 14px;
    }

    // technologies 768
    .technologies {
        p {
            font-size: 14px;
        }

        img {
            max-height: 150px;
        }
    }

    // packing 768
    .packing {
        &__nums {
            gap: 25px;
        }
    }

    section {
        padding: 60px 0;
    }

    // box 768
    .box {
        padding: 15px;
    }

    // dominations 768
    .call {
        &__dominations {
            row-gap: var(--1-gap);
        }
    }

    .form {

        button {
            max-width: 100%;
        }
    }
}

@media (max-width:576px){

    :root {
        --1-gap: 10px;
    }

    // header 576
    .header {
        &__col--logo {
            width: 25%;
        }

        &__burger {
            margin-left: 15px;
        }
    }

    // call 576
    .call {
        &__dominations {
            flex-direction: column;
        }

        &__dominations-item {
            width: 100%;
        }

        &__dominations-item-img {
            height: auto;
        }
    }

    // footer 576
    .footer {
        &__title {
            font-size: 35px;
        }
    }
}

@media (max-width:450px){

}